*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/* common */
#main{
    overflow: hidden;
}

.text-white{
    color: #fff !important;
}

.clear{
    clear: both;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    display: block;
    content: "";
    clear: both;
}
.row-clear::after{
    display: block;
    content: "";
    clear: both;
}
.column{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.column-full{
    width: 100%;
}
.column-2{
    width: 50%;
}

/* main */

/* Header */
#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
/* #header .mobile-menu-btn{
    float: left;
    padding: 0 21px;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
    cursor: pointer;
}
#header .menu-icon{
    line-height: 46.5px; 
} */

#header .mobile-menu{
    position: absolute;
    top: 0;
    left: 0;
}
#nav{
    display: inline-block;
}

#nav li{
    display: inline-block;
    position: relative;
    
}
#nav> li> a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: inline-block;
}
#nav li:hover .subnav{
    display: block;
}

#nav >li:hover >a{
    color: #000;
    background-color: #ccc;
}
#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a{
    color: #000;
    padding: 0 16px;
    line-height: 38.5px;
}
#nav .subnav li{
    width: 100%;
}
#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
    
}
#nav .nav-arrow-down{
    font-size: 14px;
}

#header .search-button{
    float: right;
    padding: 0 21px;
    position: absolute;
    top: 0;
    right: 0;
}

#header .search-button:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46.5px;
}

/* Slider */
#slider{
 margin-top: 46.5px;
 padding-top: 50%;
 background:url('/dulichvn/assets/img/Slider/Slider2.jpg') top center / cover no-repeat; 
 position: relative;
}

#slider .text-slider{
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    margin-top: 25px;
    font-size: 15px;
    opacity: 0.8;
}
#content{

}

#content .content-section{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding: 64px 0;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

#content .section-sub-heading{
    font-size: 13px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text{
    margin-top: 30px;
    text-align: justify;
    line-height: 1.4;
}

#content .list-member{
    margin-top: 47px;
}
#content .member-item{
    float: left;
    width: calc(100%/3);
    position: relative;
}
#content .member-item:hover{
    cursor: pointer; 
    transition: .4s; 
    opacity: .7;
    
    
}
#content .member-item:hover .member-name{
    display: block;
}
#content .member-img{
    width: 300px;
    border-radius: 10px;
}
#content .member-name{
    position: absolute;
    bottom: 7%;
    left: 7%;
    color: #fff;
    display: none;
}

/* Tour */
#content .tour-section{
     background: linear-gradient(0, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/WEB106/ASM/assets/img/Tour/background.jpg') center / cover no-repeat ;
    
    }
#content .tick-month{
    background-color: #fff;
    margin-top: 40px;
}

.tick-month li{
    list-style: none;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.tick-month .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 5px 6px;
    margin-left: 16px;
}

.tick-month .quantity{
    float: right;
    background-color: #000;
    color: #fff;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    margin-top: -7px;
}
/* Place */

.place-list{
    margin-top: 32px;
    margin-bottom: 50px;
}
.place-item{ 
    width: calc(100%/3);
}
.place-item:hover{
    transform: translateY(-15px);
    transition: .5s;
    cursor: pointer;
}
.place-img{
    width: 100%;
    display: block;
    height: 200px;
}

.place-body{
    background-color: #fff;
    color: #353535;
    padding: 20px;
    font-size: 14px;
}

.place-heading{
    font-size: 16px;
}
.place-price{
    margin-top: 10px;
    color: #0890d9;
}
.place-descrition{
    margin-top: 15px;
    line-height: 1.6;
}
.place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 18px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}
.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

/* Contact */
.contact-content{
    margin: 48px 0;
}
.contact-infor{
    font-size: 18px;
    line-height: 1.7;
}
.contact-infor i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}
.contact-form .form-submit-btn{
    background-color: #333;
    color: #fff;
    border: none;
    float: right;
    padding: 10px 16px;
}
.contact-form .form-submit-btn:hover{
    cursor: pointer;
    background-color: #ccc;
    color: #333;
}
.map-section img{
    width: 100%;
    height: 700px;
    margin-top: 30px;
}

/* Footer */
#footer{
    background: url('/WEB106/ASM/assets/img/footer/bg-footer.jpg') center / cover no-repeat;
    margin-top: 64px;
}
.footer-list{
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    padding: 64px 0;
    
}
.footer-item{
    float: left;
    width: calc(100%/4);
    padding: 0 8px;
    color: #a5a5a5;
    
}
.footer-item .footer-logo img{
    width: 180px;
}
.footer-heading{
    font-size: 18px;
    
}
.footer-contact{
    font-size: 15px;
    margin-top: 30px;
    line-height: 1.6;
}
.footer-contact .social-list a{
    color: #a5a5a5;
}
.footer-contact .social-list a:hover{
    color: rgba(0, 0, 0, 0.4) ;
}
.footer-contact i[class*="fa-"]{
    width: 20px;
    display: inline-block;
}
.footer-news{
    font-size: 15px;
    margin-top: 30px;
    line-height: 2;
}
.footer-news li{
    list-style: inside;
}
.footer-news a{
    color: #a5a5a5;
    text-decoration: none;
}
.footer-news a:hover{
    opacity: 0.8;
}
.footer-intro{
    margin-top: 30px;
}
.footer-intro img{
    width: 80px;
    height: 70px;
}
.footer-intro img:hover{
    cursor: pointer;
    opacity: 0.8;
}
/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open{
    display: flex;
}
.modal-container{
background-color: #fff;
width: 900px;
max-width: calc(100% - 32px);
min-height: 200px;
position: relative;
animation: modal-animation ease 0.5s;
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 16px;
    color: #fff;
    opacity: 0.8;
}
.modal-close:hover{
    cursor: pointer;
    opacity: 1;
    background-color: #f44336;
}
.modal-header{
    background-color: #009688;
    color: #fff;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.modal-icon-bag{
    margin-right: 16px;
}
.modal-body{
    padding: 16px;
}
.modal-labbel{
display: block;
font-size: 15px;
margin-bottom: 12px;
}
.modal-input{
font-size: 15px;
width: 100%;
border: 1px solid #ccc;
padding: 10px;
margin-bottom: 24px;
}
.buy-tickets{
    background-color: #009688;
    color: #fff;
    border: none;
    width: 100%;
    padding: 18px;
    font-size: 15px;
    text-transform: uppercase;
}
.buy-tickets:hover{
    cursor: pointer;
    opacity: 0.9;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-help a{
    text-decoration: none;
    color: #2196f3;
}

@keyframes modal-animation{
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
